@import url(bootstrap.css);

body {
  background: #efefef;
  color: #333;
}

a {
  color: #333;
}

#wrapper {
  background: #fff;
  margin: 0 auto;
  padding: 0 0 0 130px;
  width: 760px;
}

#container {
  position: relative;
  float: right;
  background: #fff;
  width: 100%;
  padding: 10px;
  z-index: 10;
}

nav#main {
  position: absolute;
  width: 100%;
  margin-top: 55px;
}

nav#main a {
  width: 87%;
  float: left;
  padding: 3px 0 0 13%;
}

nav#main a:hover, nav#main a.active {
  background: #442233;
  opacity: .5;
  color: #fff;
}

/* main */

form {
  width: 60%;
  float: left;
  clear: both;
}

label {
  text-align: left;
  width: 18%;
  padding-left: 2%;
}

form section {
  margin-top: 10px;
}

form input {
  width: 65%;
  padding: 2px 1%;
}

form input[type=submit] {
  float: right;
  margin: 10px 13% 0 0;
}

/* footer */
footer {
  width: 100%;
  float: left;
}
