@import url(bootstrap.css);

body {
  background: #fff url(/images/merely_cubed.png) repeat;
  color: #333;
  font-size: 16px;
}

a {
  color: #333;
}

header h1 a {
  color: #efefef;
}

#wrapper {
  background: #fff;
  margin: 0 auto;
  padding: 0 0 0 130px;
  width: 760px;
}

#container {
  position: relative;
  float: right;
  background: #fff;
  width: 100%;
  padding: 10px;
  z-index: 10;
}

nav#main, nav#taglist {
  position: absolute;
  width: 100%;
  margin-top: 55px;
}

nav#main a, nav#taglist a {
  width: 100%;
  display: block;
  font-size: .8em;
  text-shadow: 1px 1px 1px #666; 
}

nav#main a span, nav#taglist span, nav#taglist h1 span {
  margin: 0 auto;
  padding-left: 10px;
  width: 900px;
  display: block;
}

nav#taglist h1 span {
  padding-left: 0;
}

nav#main a:hover, nav#main a.active, nav#taglist a:hover {
  background: #00438A;
  opacity: .5;
  color: #fff;
  text-shadow: none;
}
nav#taglist a:hover {
  background:#dcd74a;
  color: #000;
}

nav#taglist {
  margin-top: 130px;
}

nav#taglist h1 {
  font-size: .95em;
}

/* main */
h1 {
  font-size: 1.75em;
}

article {
  font-size: .75em;
}

form {
  width: 60%;
  float: left;
  clear: both;
}

label {
  text-align: left;
  width: 18%;
  padding-left: 2%;
}

form section {
  margin-top: 10px;
}

form input {
  width: 65%;
  padding: 2px 1%;
}

form input[type=submit] {
  float: right;
  margin: 10px 13% 0 0;
}

/* footer */
footer {
  width: 100%;
  float: left;
  font-size: 16px;
}

footer p {
  float: left;
  font-size: .75em;
}

footer a.git, footer img {
  float: right;
  font-size: .75em;
}

footer img {
  margin-right: 10px;
}
